

* {
    box-sizing: border-box;
    margin: 10px;
    padding: 20px;
  }
  .flexcontainer{
      display: flex;
      grid-template-rows:  auto auto auto;
      flex-direction: row;
  }
  

  @media only screen and (min-width: 768px) {
                body {
                background-color: blue;
                }

                .small{
                    display: none;
                }
                .medium{
                    display: none;
                }
            
  }
 
  @media only screen and (min-width: 600px) and (max-width: 768) 
  
  {
                body {
                background-color: green;
                }

                .small{
                    display: none;
                }
                
                .large{
                    display: none;
                }
               .flexcontainer > .first{
                    flex: 2;
                }
                .flexcontainer > .second{
                    flex:1;
                }
                .flexcontainer > .third{
                    width: 100%;
                }
                .flexcontainer{
                    flex-wrap: wrap;
                }

         
    }

  @media only screen and (max-width: 600px)     
  {
    
            body {
                    background-color: red;
                 }
            
            .medium {
        
                    display: none;
                        }
           
            .large   {
                    
                display: none;
                         }
            .flexcontainer {
                            
                    flex-direction: column;
                          }
    
     }

    
  
 


 .small , .medium, .large, .first, .second , .third{
    background-color: peru;
     color: black;
     font-size: xx-large;
     font-weight: bolder;
     width: 200px;
 }

  
  html {
    font-family: "Lucida Sans", sans-serif;
  }
  
  .header {
    background-color: grey;
    color: #ffffff;
    
  }
  
 
  
  .footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    
  }

 